
header {
  position: fixed;
  top: 0;
  left: 0;
}

#grid {
  max-width: 405px;
  max-height: 405px;
  margin: 8% auto;
}
body {
  background-color: #000000;
}


.col {
  float: left;
  border-right: solid white 15px;
}

.col:nth-child(3) {
  border-right: none;
}

.square:nth-child(3){
  border-bottom: none;
}

.square {
  height: 125px;
  width: 125px;
  padding: 0;
  border-bottom: solid white 15px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

header, footer {
  color: #BB0000;
  background-color: #0088BB;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-family: sans-serif;
  font-size: 35px;
}
